/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "MjDinarOneMedium";
  src: url("./fonts/MjDinarOneMedium.eot"); /* IE9 Compat Modes */
  src: url("./fonts/MjDinarOneMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/MjDinarOneMedium.otf") format("opentype"), /* Open Type Font */
    url("./fonts/MjDinarOneMedium.svg") format("svg"), /* Legacy iOS */
    url("./fonts/MjDinarOneMedium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/MjDinarOneMedium.woff") format("woff"), /* Modern Browsers */
    url("./fonts/MjDinarOneMedium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}