/*start font*/
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iranSans/eot/IRANSansWeb.eot');
    src: url('../fonts/iranSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/iranSans/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iranSans/ttf/IRANSansWeb.ttf') format('truetype');
}
@font-face {
    font-family: BIRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iranSans/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/iranSans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/iranSans/woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/iranSans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}


@font-face{
    font-family:"MaterialDesignIcons";
    font-weight:normal;
    font-style:normal;
    src:url("../fonts/materialFontIcon/fonts/materialdesignicons-webfont.eot?v=1.8.36");
    src:url("../fonts/materialFontIcon/fonts/materialdesignicons-webfont.eot?#iefix&v=1.8.36") format("embedded-opentype"),
        url("../fonts/materialFontIcon/fonts/materialdesignicons-webfont.woff?v=1.8.36") format("woff"),
        url("../fonts/materialFontIcon/fonts/materialdesignicons-webfont.ttf?v=1.8.36") format("truetype"),
        url("../fonts/materialFontIcon/fonts/materialdesignicons-webfont.svg?v=1.8.36#materialdesigniconsregular") format("svg");}


/*end font*/
h1,h2,h3,h4,h5,h6{
    font-family:IRANSans;
    font-weight: 900;
}

body{
    font-family:IRANSans;
    text-align: justify;
    background-color:#ffffff;
}
a,a:active,a:hover,a:focus,a:visited{
    text-decoration:none;
        
}
img{
max-width: 100%;
display: block;
margin: auto;	
}
/*start head*/
.head{
    width: 100%;
}
/*end head*/

/*start menu*/
.menubar{
    background-color:#f3f4f8;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.15),0px 1px 3px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.15),0px 1px 3px 0px rgba(0,0,0,0.1);
box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.15),0px 1px 3px 0px rgba(0,0,0,0.1);
}

.TagIn {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    direction: rtl;
    padding:20px 0;
    margin:0 15px;
}

    .TagIn .tagBtn {
        background: #78716c;
        border-radius: 5px;
        padding: 5px 15px;
        margin:3px;
        color: #fcd34d;
        transition:.5s all;
        font-weight:bold;

    }
        .TagIn .tagBtn:hover {
            background: #fcd34d;
            color: #78716c;
        }
    .TagIn .titr{
        margin-left:10px;
    }

    .TopHeader {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        align-items: center;
    }
    .TopHeader .search{
        display:flex;
        align-items:center;
    }
        .TopHeader .search button {
            background: #111;
            color: #fff;
            font-size: 20pt;
            padding: 0 5px;
            margin: 0;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            border:none;
            height:37px;
        }
        .TopHeader .search input{
            width:245px;
            margin:0;
            height:35px;
            border:1px solid #d1d1d1;
            border-bottom-right-radius:5px;
            border-top-right-radius:5px;
            font-size:10.5pt;
            padding-right:20px;
        }
.Language {
    position: relative;
    cursor: pointer;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 3px 5px;
    height: 30px;
    line-height: normal;
}
    .Language .falg{
        display:flex;
        align-items:center;
    }
    .Language ul{
        position:absolute;
        right:0;
        left:0;
        top:30px;
        border-radius:5px;
        border:1px solid #d2d2d2;
        z-index:10;
        padding:0;
        margin:auto;
        list-style:none;
        background:#fff;
        display:none;
    }
        .Language ul li{
            border-bottom:1px solid #d2d2d2;
        }
        .Language ul li:last-child {
            border-bottom: 0;
        }
        .Language ul li a {
            color: #2c2c2c;
            font-size: 10pt;
            padding: 10px 5px;
            display: flex;
            align-items:center;
        }
            .Language ul li a span{
                margin-right:0;
            }
            .Language ul li a img {
                margin-left: 5px;
            }
    .Language span{
        font-size:10pt;
        font-family:IRANSans;
        margin-right:5px;
    }

    .menufix {
        animation: 0.4s ease 0.027s normal both 1 running header-anim;
        background: #fff none repeat scroll 0 0;
        box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.5);
        margin: 0;
        padding-top: 10px;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
    }
.menufix .menu {
    margin: auto;
    width: 1140px;
}
.currentPage  span{
    font-size: 20pt!important;
}
ul.menu {
    margin-top: 20px;
}
    ul.menu > li {
        line-height:40px;
        height:70px;
        list-style: none;
    }
    ul.menu > li:hover {
        border-bottom: 3px solid #fa4949;
    }
    ul.menu  li.active  {
    border-bottom: 3px solid #fa4949;
}
ul.menu > li > a {
    display: block;
    padding: 0 15px;
    position: relative;
    font-family: BIRANSans;
}
    ul.menu > li > a:hover {
        text-decoration: none;
    }
ul.menu > li > a > span.ripplelink2 {
    color: #444444;
    font-size: 10pt;
    padding: 0 0 10px;
    font-family: BIRANSans;
}

ul.menu > li:hover > a > span.ripplelink2 {
    color: #444444;
    
}
ul.menu > li:hover > a::before {
    transform: scale3d(1, 1, 1);
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
}
.dropdown-menu li span{
    margin-right:10px;
}
ul.menu > li ul.dropdown-menu {
    background: #fbfbfb none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 0;
    text-align: right;
    top: 96%;
    width: 270px;
    right: 0;
}
ul.menu > li ul.dropdown-menu li {
    transition: all 0.4s ease-in-out 0s;
}
ul.menu > li ul.dropdown-menu li a {
    margin: 0;
    padding: 0;
}
ul.menu > li ul.dropdown-menu li a span {
    color: #808080;
    display: block;
    font-size: 10pt;
    padding: 5px 15px;
}

ul.menu > li ul.dropdown-menu li:hover > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
ul.menu > li ul.dropdown-menu li:hover > a > span {
    color: #000;
}
   ul.menu > li ul.dropdown-menu li:hover::before {
    color: #fa4949!important;
    content: "\f68c";
    font-family: MaterialDesignIcons;
    font-size: 10pt;
    margin-top: -9px;
    position: absolute;
    right: 8px;
    }

ul.menu > li ul.dropdown-menu li.dropdown > a::after {
    color: #6f6f6f;
    content: "\f141";
    display: block;
    font-family: MaterialDesignIcons;
    font-size: 12pt;
    left: 10px;
    position: absolute;
    top: 11px;
}
ul.menu > li ul.dropdown-menu li.dropdown:hover > a::after, ul.menu > li ul.dropdown-menu li:hover::before {
    color: #000;
}
ul.menu > li ul.dropdown-menu ul.dropdown-menu {
    top: 0;
}

ul.menu > li.dropdown > a::after {
color: #444;
content: "\f140";
font-family: MaterialDesignIcons;
font-size: 12pt;
margin: auto;
text-align: center;
position: absolute;
bottom: 0;
left: 0;
right: 0;
}
ul.menu > li.dropdown:hover > a::after {
    color: #444444;
    content: "\f143";
    font-family: MaterialDesignIcons;
}
ul.menu > li.currentPage > a > span.ripplelink2 {
    color: #444444;
}
ul.menu > li.currentPage > a::before {
    transform: scale3d(1, 1, 1);
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
}

/*search*/
.searchbox{
    position:relative;
    min-width:70px;
    width:0%;
    height:70px;
    float:right;
    overflow:hidden;
    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#fa4949;
    width:100%;
    height:50px!important;
    margin:0;
    padding:0px 75px 0px 20px;
    font-size:10pt!important;
    color:#444;
}
.searchbox-input::-webkit-input-placeholder {
    color: #444;
}
.searchbox-input:-moz-placeholder {
    color: #444;
}
.searchbox-input::-moz-placeholder {
    color: #444;
}
.searchbox-input:-ms-input-placeholder {
    color: #444;
}

.searchbox-icon,.searchbox-submit{
    width: 70px;
    height: 70px;
    display: block;
    position: absolute;
    top: 0;
    font-family: verdana;
    font-size: 33px;
    left: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #272933;
}
.searchbox-icon:hover,.searchbox-submit:hover{
    background: #fa4949;
    transition: all 0.5s ease-in-out 0s;
}


.icon{
    background-image: url(../images/search.png);
    background-color: #fa4949;
    background-position: center;
    background-repeat: no-repeat;
}
.searchbox-open{
    width:40%;
}
/*search*/

/*logo*/
.logo{
    float: left;
    margin-top: 8px;
}

/*language*/
.select-lang {
    position: relative;
    /*margin-left: 50px;*/
    margin-top: 8px;
   text-align: center;
    width: 100px;
}
.select-lang-btn {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 10pt;
    padding: 0px 10px;
    cursor: pointer;
}
.select-lang-btn::before {
    content: "";
    position: absolute;
    display: block;
    top: 20px;
    right: 8px;
    margin: auto;
    width: 5px;
    height: 5px;
    border-left: 1px solid #525c66;
    border-bottom: 1px solid #525c66;
    transform: rotate(-45deg);
}
.select-lang > ul {
     list-style:none;
    position: absolute;
    left: 0;
    right: 0;
    top: 37px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(17, 17, 17, 0.26);
    z-index: 10;
    font-size: 9pt;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s 0.3s;
    margin: 0;
    padding: 5px 0;
}
.select-lang > ul > li > a {
    line-height: 25px;
    display: block;
    text-align: center;
    transition: all 0.5s;
    margin: 0px -5px;
    background-color: rgba(38, 96, 153, 0);
    box-shadow: 0px 0px 3px rgba(17, 17, 17, 0);
    color:#444444;
}
.select-lang > ul > li > a:hover {
    color: #fff;
    background-color: #fa4949;
    box-shadow: 0px 2px 3px rgba(17, 17, 17, 0.3);
    margin: 0px -10px;
}
.select-lang:hover ul {
    visibility: visible;
    opacity: 1;
}
.select-lang .ir::before{
    content: url(/themes/hayanews/static/images/ir.jpg);
}
.iran::after {
    content: url(/themes/hayanews/static/images/ir.jpg);
}

.select-lang .en::before {
    content: url(/themes/hayanews/static/images/en.jpg);
}
.select-lang .arabi::before {
    content: url(/themes/hayanews/static/images/ar.jpg);
}
.select-lang a::before {
    content: "";
   margin-left:10px
}

/*end menu*/
/*start part1 */
#two,#new_news,#realation news,#tab1_new,#tab1_mo,#tab2_new,#tab2_mo,#tab3_new,#tab3_mo,#tab4_new,#tab4_mo,#tab5_new,#tab5_mo,#tab6_new,#tab6_mo,#tab7_new,#tab7_mo{
    direction:ltr!important;

}
h3.titr {
    color: #1e3a8a;
    position: relative;
    display: inline-block;
    right: 13px;
    font-size: 15pt;
    margin: 30pt auto 20pt;
}
h3.bullet::before {
    background: #fcd34d;
    width: 8px;
    height: 8px;
    position: absolute;
    content: "";
    right: -12px;
    top: 7px;
}



.title {
    background-color: none;
    color: #1e3a8a;
    font-family: IRANSans;
    font-size: 14pt;
    height: 1px;
    margin: 30px 0 0;
    position: relative;
    text-align: right;
    width: 100%;
}
     .wrap {
    background-color: rgba(255, 255, 255, 0.1);
    height: 1px;
    position: absolute;
    right: 24%;
    top: 19%;
    width: 58%;
    }
 .title h3{
    position: absolute;
    top: -16pt;
    padding-left:20px;
}
 .owl-buttons{
    left: 5px;
    position: absolute;
    top: -66px;
    padding-right:20px;
}
 
.owl-theme .owl-controls .owl-buttons div::before {
    content: "";
    font-family: "Material Design Icons";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 11pt;
}
.owl-next:before{
    content:"\f142"!important;
     right: -2px;
}
 .owl-prev:before{
    content:"\f141"!important;
}
.owl-theme .owl-controls .owl-buttons div {
    background-color: #1e40af !important;
    border-radius: 100% !important;
    color: #fff !important;
    display: inline-block !important;
    font-family: MaterialDesignIcons;
    font-size: 16pt !important;
    margin: 2px !important;
    opacity: unset !important;
    width: 30px;
    height: 30px;
    position: relative;
    top: 20px;
}
    .owl-theme .owl-controls .owl-buttons div:hover {
        background-color: #fcd34d !important;
        transition: all 0.4s ease 0s;
        color: #fff !important;
    }

 .owl-pagination{
    display:none;
}
  .image {
  display: block;
    max-height: 320px;
    overflow: hidden;
    width: 100%;
}

  .overlay {
    position: relative;
    width: 100%;
    padding: 10px 15px;
    overflow: hidden;
    margin: auto;
}
  /*#two .item:hover img,.mo .item:hover img{
      opacity:0.1;
      transition: all 0.5s ease 0s;
  }
  #two .item:hover .overlay,.mo .item:hover .overlay{
  height:100%;
 
}
  #two .item:hover,.mo .item:hover{
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
 
  }*/
  .mo .item {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    display: block;
    margin: 9px 8px;
    padding-bottom: 110px;
    position: relative;
    background:#fff;
}

.overlay p {
    color: #6a6a6a;
    direction: rtl;
    font-size: 12pt;
    margin: 0 15px;
    text-align: justify;
}
.overlay .onvan {
    color: #002559;
    direction: rtl;
    display: block;
    font-family: IRANSans;
    font-size: 12pt;
    line-height: 3.5;
    margin: 0 15px;
    overflow: hidden;
    font-weight:600;
}
  /*.item:hover .overlay .onvan {
    line-height: 1.7;
    top:70px;
    padding:0 15px;
    position:inherit;
}
    .item:hover .overlay p {
    line-height: 1.7;
    position:inherit;
    top:170px;
    padding:0 60px;
}
    .item:hover .overlay span a{
position: relative;
    top: 283px;
    left: 48px;
    }
.item:hover .overlay .onvan::before {
    display: inline-block;
    content: "";
    top: 11px;
    right: 0;

}*/
 .overlay .onvan::before {
     background-color: #fa4949;
     display:inline-block;
right: 15px;
top: 62px;
width: 8px;
height: 8px;
content: "";
margin-left: 5px;
}
.overlay span a {
    position: relative;
    color: #fcd34d;
    direction: rtl;
    font-size: 11pt;
    background: #1e40af;
    padding: 5px 15px;
    border-radius: 5px;
    border:1px solid transparent;
    transition:.5s all;
}

    .overlay span a:hover {
        background: #fcd34d;
        color: #1e40af;
    }
    /*new news*/
    .caption {
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
        height: auto;
        position: relative;
        margin: 11px;
        padding-bottom: 48px;
        background: #fff;
    }
.caption img {
  display: block;
  width: 100%;
  height: auto;
  margin:auto;
}

.caption .back {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#fff;
  overflow: hidden;
  width: 100%;
  height: 37px;
  transition: .5s ease;
  margin:auto;
  padding:0 15px;
}

 .caption:hover .back{
  height: 100%;
}
.caption:hover{
    -webkit-box-shadow:0px 1px 20px 0px rgba(0,0,0,0.1), 0px 5px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.1) , 0px 5px 10px 0px rgba(0,0,0,0.2);
box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.1) , 0px 5px 10px 0px rgba(0,0,0,0.2);
     transition: all 0.4s ease 0s;
}

.caption p {
  color: #999999;
    font-size: 10pt;
    overflow: hidden;
    left: 0;
    text-align: justify;
    width: 100%;
    direction: rtl;
    position: inherit;
    right: 0;
    padding: 15px;
    top: 55px;
}
.caption .back a{
   color: #444;
    direction: rtl;
    font-family: BIRANSans;
    font-size: 10pt;
    height: 21px;
    line-height: 2;
    overflow: hidden;
    display: block;
}
.caption:hover .back a {
    height: 53px;
    line-height: 1.5;
    top: 5px;
    position: inherit;
    padding-right: 15px;
    padding-top: 15px;
}
.caption:hover .back a::before {
    top: 21px;
    right: 15px;
}
        .caption .back a::before {
            content: '';
            width: 8px;
            height: 8px;
            background: #fcd34d;
            right: 15px;
            top: 11px;
            display: inline-block;
            margin-left: 5px;
        }
.owl-carousel{
    margin:20pt auto;
}
/*end part1*/

/*start part2*/
.part2{
    background-color:#f2f3f7;
    padding: 40px 0 70px;
}
.part2 .col-md-6,.part2 .col-sm-5,.part2 .col-sm-7{
    float: right;
}
.part2 .col-sm-5,.part2 .col-sm-7{
    padding: 0
}



/*tabbar*/
/* Style the tab */
div.tab {
    overflow: hidden;
border-bottom: 1px solid #c9cbd0;
  height: 49px;
}

/* Style the buttons inside the tab */
div.tab button, div.tab a{
    background-color: transparent;
float: right;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 9pt;
color: #a1a3a8;
font-family: IRANSans;
}
div.tab a{
    color: #fa4949;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    border-bottom: 3px solid #fa4949;
    color: #272933;
}

/* Create an active/current tablink class */
div.tab button.active {
    border-bottom: 3px solid #fa4949;
    color: #272933;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.titletab{
    margin: 50px 0 40px 0;
    padding:0 10px;
}


/* newnewstab*/

#tabnew_news .owl-buttons{
    margin-left: 10px;
}
.titrnews{
    font-family: IRANSans;
font-size: 10pt;
line-height: 25px;
color: #444;
margin: 0 15px;
height: 109px;
overflow: hidden;
direction: rtl;
padding: 35px 15px;
}
.titrnews:before{
   content: '';
width: 8px;
height: 8px;
background: #fa4949;
position: absolute;
right: 20px;
top: 43px;
}
.tnew .item{
    margin:8px;
}
.ghab{
    background-color: #fff;
    display: inline-block;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    margin: 0 auto 4px;
    overflow:hidden;
    width: 100%;
}
.ghab:hover{
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.15),0px 3px 10px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.15),0px 3px 10px 0px rgba(0,0,0,0.25);
box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.15),0px 3px 10px 0px rgba(0,0,0,0.25);
transition: all 0.4s ease 0s;
}
.ghab img{
    height: 136px;
    max-width: 100%;
    margin:auto;
}
 .back .more {
        color: #fa4949;
    left: 70px;
    position: absolute;
    top: 300px;
    display:block;
    }
/*end part2*/
/*start part3 */
footer{
     background-color: #272933;
}
footer .field-validation-valid{
    display:none;
}

.footerTop span{
    color: #fff;
font-size: 11pt;
margin: 0;
}
.footerTop{
    background-color: rgba(0,0,0,0.15);
}
ul.socials{
    padding:0;
    float: left;
    margin: 0;
    
}
ul.socials li{
list-style:none;
display:inline-block;
}
ul.socials li a {
    border: 1pt solid transparent;
    color: rgba(161, 162, 166, 0.7);
    display: block;
    font-size: 17pt;
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 45px;
}

    ul.socials li a:hover {
        color: #fcd34d;
        text-align: center;
        top: 9px;
        transition: all 0.5s ease-in-out 0s;
    }


footer{
    background:#333;
    font-size:10.5pt;
    color:#ababab;
}
footer:after{
    clear:both;
    display:table;
    content:''
}
    footer .footerTop {
        background: #172554;
        padding: 10px 0;
        font-family: IRANSans;
        font-size: 12pt;
        opacity:.9;
    }
footer .footerTop:after{
    clear:both;
    display:table;
    content:''
}
footer .footerTop span{
    display:inline-block;
    vertical-align:middle;
    margin-top:10px
}
footer .footerTop a{
    display:inline-block;
    vertical-align:middle;
    margin-right:30px;
    color:#949494;
    font-size:17pt
}

    footer .footerCenter {
        padding: 30px 0 60px;
        color: #b3b3b3;
        background: #172554;
    }

footer .footerCenter h5{
    color:#fff;
    display:block;
    margin:15px 0 25px;
    font-weight:400;
    font-family:IRANSans
}
footer .footerCenter ul{
    list-style: none;
    padding: 0
}
footer .footerCenter ul:after{
    clear:both;
    display:table;
    content:''
}
footer .footerCenter ul li a{
    color:#b3b3b3;
    font-size:10pt;
    padding-right:13px;
    position:relative;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    -webkit-transition:all ease-in-out .3s;
    -moz-transition:all ease-in-out .3s;
    -ms-transition:all ease-in-out .3s;
    -o-transition:all ease-in-out .3s;
    transition:all ease-in-out .3s;
    display:block;
    line-height: 25px;
}
    footer .footerCenter ul li a:before {
        content: '';
        width: 6px;
        height: 6px;
        background: #fcd34d;
        position: absolute;
        right: 0;
        top: 10px;
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        -ms-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
        transition: all ease-in-out .3s
    }
footer .footerCenter ul li:hover a{
    color:#fff
}
footer .footerCenter ul li:hover a:before{
    background:#fff
}
footer .footerCenter .row .items-container>*{
    border-left:1px dashed #484848;
    float: right;
}
footer .footerCenter .row .items-container>:last-child{
    border-left:0
}
/*footer .footerCenter .col-md-6{
    width:520px;
    padding:0 30px 15px
}*/
footer .footerCenter .col-md-3{
    /*width:350px;*/
    padding:0 30px 15px
}
footer .footerCenter .row{
    margin:0 -30px
}
footer .footerCenter:after{
    clear:both;
    display:table;
    content:''
}
.footerCenter .input-field:hover label {
    color: #fff;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]){
        /*border-bottom: 1px solid #fa4949!important;*/
    /*box-shadow: 0 1px 0 0 #fa4949!important;*/
}
textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #fa4949!important;
    box-shadow: 0 0 0!important;
}
input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label{
    color:#fff!important;
}
textarea.materialize-textarea:focus:not([readonly]) + label {
    display: none;
}
.part1 #two .item{
    display: block;
position: relative;
margin: 15px 7px;
-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
padding-bottom:18px;
}

.d::before{
    font-family: MaterialDesignIcons;
    content: "\f450";
    font-size: 19pt;
    position:relative;
    top:15px;
}
.footerCenter .d {
    float: left;
    width: 15%;
}
.form-control{
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #878787;
    border-radius: 0
}
.footerCenter .form-control:hover,.footerCenter .form-control:focus{
    background: transparent;
    border: none;
    border-bottom: 1px solid #fa4949;
    border-radius: 0;
    box-shadow: none;
    color: #fff
}

#captcha .btn {
    background-color: #fcd34d;
    width: 100%;
    color: #1e3a8a;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
    margin: 25px 0 0;
    font-weight:600;
}
#captcha .btn:hover{
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    
}
@media only screen and (max-width:1270px){
    footer .footerCenter .col-md-6{width:470px;padding:0 15px 15px}
    footer .footerCenter .col-md-3{padding:0 15px 15px}
    footer .footerCenter .row{margin:0 -15px}
}
@media only screen and (max-width:1200px){
    footer .footerCenter .col-md-3,footer .footerCenter .col-md-6{width:33.3%;float:right}
}
@media only screen and (max-width:768px){
    footer .footerCenter .col-md-3,footer .footerCenter .col-md-6{width:100%;height:auto!important}
    footer .footerCenter .row .items-container>*{border-left:0;border-bottom:1px dashed #484848}
    footer .footerCenter .row .items-container>:last-child{border:0}footer .footerTop{font-size:11pt}
    footer .footerTop span{margin-top:10px}
}
@media only screen and (max-width:580px){
    footer .footerTop{font-size:10.5pt;text-align:-moz-center;text-align:-webkit-center;text-align:center}
    footer .footerTop span{margin-top:5px;display:block}
    footer .footerTop .social{float:none!important}
    footer .footerTop a{display:inline-block;vertical-align:middle;margin:0 }
}

/*end part3*/
/*copy-right*/
.copy-right{
    background-color: #fa4949;
    margin: 0;
    padding: 0;    
	display: none;
}
.copy-right p{
    margin: 0;
}
.copy-right .container{
    padding: 10px 0;
}
.logofooter{
    opacity: 0.4;
}
.copy-right .pull-left a{
    color:#000;
    opacity: 0.4;
}
.copy-right .pull-right  span{
    color: #fff;
    font-size: 9pt;
}

#back-top span::before {
    content: "\f143";
    font-family: MaterialDesignIcons;
    font-size: 36px;
}

#back-top {
    bottom: 0;
    margin-left: -150px;
    position: fixed;
    z-index: 100;
    margin:0;

}
#back-top a {
    background: #172554;
    bottom: 20px;
    display: block;
    margin-bottom: 50px;
    right: 20px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    width: 50px;
    height:50px;
    border-radius: 10px;
}
#back-top span {
    color: #ffff00;
    font-size: 20px;
   
}
.backtopFix{
    bottom: 0!important;
    position:absolute;
    -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
}
/*start media */
@media only screen and (max-width:360px) {
.footerTop ul.socials{float:none!important;margin:auto;text-align: center}
.caption{
    margin:10px;
}
.onvan{
    font-size:9pt;
}
    .text {
        top: 0;
    }

}
@media only screen and (max-width:768px) {


    .overlay .onvan{
        line-height:1.7;
    }
    .searchbox-open {
        width: 100%;
    }
    .searchbox{
        float: left;
    }

    .caption,.caption .newimg{
        height:auto
    }
    .newstab p{
        padding:15px;
        font-size:9pt;
        line-height:1.5
    }
    .newstab .back:hover a{
        padding:0;
        font-size:11pt;
        line-height:1.5
    }
    .caption img{
        width:100%;
        height:auto;
    }
    .text {
        color: #9fa1a6;
        direction: rtl;
        font-size: 10.05pt;
        left: 0;
        line-height: 1.7;
        margin: auto;
        padding: 67px 30px;
        position: inherit;
        right: 0;
        text-align: justify;
     
        width: 100%;

    }

        .newstab img{
        height:auto;
    }
}
@media (min-width: 768px) {

    
}
@media only screen and (max-width:576px){
    .titrnews{
        font-size:10pt;
    }
    .logo{
        width:100px;
    }

    .TopHeader .search input {
        width: 230px;
        height: 30px;
    }
    .TopHeader .search button{
        height:32px;
        font-size:15pt;
    }
    .Language {
        padding: 3px 5px;
    }
    .overlay p{
        font-size:10pt;
        /*padding:0 30px;*/
        padding-top:10px;
        margin:0;
    }
    .overlay .onvan {
        margin: 0;
        line-height: 1.5;
        font-size: 11pt;
    }
    .TagIn{
        margin:0;
    }
        .TagIn .tagBtn{
            font-size:10pt;
        }
    /*.overlay{
        padding:12px 0;
    }*/
    /*.item:hover .overlay p {
        padding: 0 30px;
    }*/
} 

@media (min-width: 992px) {
}

@media (min-width:1200px) {
    .container{
        width: 1200px;
    }

    
}

@media only screen and (max-width:400px){
    .TopHeader .search input{
        width:170px;
    }
}
@media only screen and (max-width:360px) {
    .TopHeader .search input{
        width:165px;
        padding-right:6px;
    }
    .Language {
        padding: 2px;
        height: 28px;
    }
    .Language span {
        font-size: 9pt;
    }
}
/*end media */
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float:right;
}
