@using System.Web.Mvc.Html
@using Comman.Helpers
@using Models
@using Resources
@using Resources.App_GlobalResources
@{
    var editMode = Request.IsAuthenticated && (Roles.GetRolesForUser().Contains(Settings.AdminRole) || Roles.GetRolesForUser().Contains(Settings.ProgrammerRole));
    var keys = new List<string>() { "درج لوگو", "شبکه اجتماعی هدر" };
    string s = Html.Action("GetContentsValueByKeys", "ContentLocalized", new { keys, ishtml = true }).ToString();
    var result = new System.Web.Script.Serialization.JavaScriptSerializer()
    .Deserialize<List<ContentItems>>(s);
}





<header>
    <section class="menubar">
        <!-- menuResize -->
        <div class="menu2">
            <input type="checkbox" id="menuTrigger" />
            <div class="menuResize">
                <label for="menuTrigger" class="trigger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </label>
                <div class="scroll-menu">
                    @Html.Action("GetMenus", "MenusLocalized", new { IsResize = true })
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12 pull-right">
                    <form class="searchbox">
                        <input name="lSerchTerm" id="lSerchTerm" type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
                        <input type="submit" class="searchbox-submit icon" value="">
                        <span class="searchbox-icon mdi mdi-magnify"></span>
                    </form>
                    <!-- menu -->
                    <div class="menuLine pull-right">
                        @Html.Action("GetMenus", "MenusLocalized", new { IsResize = false })
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 pull-left">
                        @{
                            var val = result.FirstOrDefault(x => x.Key == "درج لوگو");
                            if (val != null)
                            {
                                WriteLiteral(val.Value);
                            }
                        }

                    @*<img src="/themes/hayanews/static/images/logo.png" class="logo">*@
                    @Html.Action("GetLanguagesPartial", "Languages")

                </div>
            </div>
        </div>
    </section>
    <!-- end menu -->
    @*<section class="Breadcrumbs">
        <div class="container">
            <div class="bread-crumb">
                @{ Html.RenderPartial(Url.Content("/Themes/hayanews/Views/Shared/_NormalBreadCrumbPartial.cshtml"), new ViewDataDictionary { { "pageTitle", ResourceLocalization.GetResource(() => Resource.ContactUs) } }); }
            </div>
        </div>
    </section>*@
</header>