@using Comman.Enums
@using Comman.Helpers
@using Resources.App_GlobalResources
@using Utility.HtmlHelpers
@using WebDesign.Domain
@using WebDesign.UI.Tools
@using WebDesign.UI.Framework.SharedObjects
@model List<PostsLoclized>


@if (Model.Any())
{
    foreach (var item in Model)
    {
        var currentLang = SharedObjectResolver.Configs.CurrentRequestCulture;
        var url = UrlTools.GetNewsDetailsUrl(item);
        var imagePath = Html.Imagehelper(item.Posts.DefaultImage);
        var dateResult = DateTimeHelper.GetDateByLang(item.Posts.CreateDate);
        var localDay = dateResult.AsDateTime().Day;
        var localMonth = DateTimeHelper.GetFriendlyMonth(item.Posts.CreateDate, currentLang);
        var localYear = dateResult.AsDateTime().Year;

        <div class="item"  onclick="window.location.href='@url'">
            <div class="caption">
                <img src="@imagePath">
                <div class="back ">
                    <a href="@url">@item.Title</a>
                    <p>@item.Abstract</p>
                </div>
            </div>
        </div>

    }
}

