
@using Newtonsoft.Json


<div id="widgetmodal" style="z-index:900000000000000000" class="modal fade" role="dialog">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header-custom">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تنظیمات</h4>
            </div>
            <div class="blackwrap modal-body">

                <div class="container">
                    <div class="blackwrap edit-promotion">

                        <div class="content">
                            <span>در صورتی که می خواهید یک  شبکه اجتماعی خاص را نشان ندهید، لینک آن را خالی بگذارید</span>
                            <div id="sociallist" class="sociallist">

                             
                                <button onclick="saveSettings()" type="button" class="btn btn-success">ثبت</button>

                               
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>



</div>



<script>
    //alert("h");
    GetSocilas();

    function GetSocilas() {
        //alert("so");
        debugger;
        $.ajax({

            url: '@Url.Action("GetSocialsNetwork", "Themes")',
            data: { id: $("#ThemeId").val() },
            type: "GET",
            success: function (data) {

                jQuery.each(data, function (index, item) {
                    var mdiName = item.SocialNetworkName;
                    mdiName = "mdi mdi-" + mdiName.trim().toLowerCase();
                    var textHtml = `

                        <div class ="rows">
                        <i class ="${mdiName}"></i><label>${item.SocialNetworkName}</label><input type="text" data-propertysocials="${item.SocialNetworkName}"  value="${item.SocialNetworkLink}" class ='socialnet' placeholder="لینک شبکه را بنویسید">
                        <div class ="item">
                            <label>ترتیب نمایش</label>
                            <div class ="count">
                                <input type='number' style='text-align:center; width:50px' datasort="" class= "datasort" name="${item.SocialNetworkName}" value="${item.DataSort}" placeholder="3">
                               
                            </div>
                        </div>
                    </div>`;

                    $("#sociallist").prepend( textHtml);
                });



            },
            error: function (ex) {

            }


        });

    }

    

    $("#widgetmodal").modal("show");
    function saveSettings() {

        str = "";

        //debugger;
        var SocialNetworkLinks = $("#SettingsDrop").val();
        var Str1 = '{"SocialsNetwork":[';
        var Str2 = "";


        $('.socialnet').each(function () {
            var nam= $(this).attr('data-propertysocials');

            //console.log(nam);
        //     alert(nam);
            var DisplayOrder=$("input[name='" + nam +"']").val();


            //console.log(dis);
            //alert( $(this).val() + "=" + dis);
            //  alert(dis);
            if ($(this).val() != null) {
                if (DisplayOrder=="") {

                    DisplayOrder=1;
                }

                Str2 += '{"DataSort":"' + DisplayOrder + '","SocialNetworkLink":"' + $(this).val() + '", "SocialNetworkName":" ' + $(this).attr('data-propertysocials') +   '"},';
            }

        });
        Str2 = Str2.substring(0, Str2.length - 1);
        var Temp = Str1 + Str2 + ']}';
        debugger;
        var ModelStr = JSON.parse(JSON.stringify(Temp));
       //  alert(ModelStr);
         //alert($("#ThemeId").val());
        $.ajax({
            url: '@Url.Action("UpdateSocilasNetwork", "ThemesSettings")',
            data: { NewSocials: ModelStr, enabled: $("a").attr("data-enabled"), id: $("#ThemeId").val(), ThemeTitle: "تنظیمات" },
            type: "POST",
            success: function (data) {

                alert("شبکه های اجتماعی شما به روز گردیدند ");
                location.reload();
            },
            error: function (ex) {

            }
        });
    }

</script>